body {
    --grx--nav-push: var(--wp-admin--admin-bar--height, 0px);

    margin-right: var(--gwx-nav-right-width, 0px);
    margin-left: var(--gwx-nav-left-width, 0px);
    .has-modal-open & {
        overflow: hidden;
    }
}


:where(.wp-block-groundworx-navigation) {
    opacity: 0;
}

:where(.wp-block-groundworx-navigation.is-initialized) {
	opacity: 1;
}

.wp-block-groundworx-navigation.is-position-relative {
    position: relative;
    &.has-modal-open {
        position: fixed;
        top: var(--grx--nav-push, 0px);
        left: 0;
        right: 0;
        z-index: 9999;
    }
}

.wp-block-groundworx-navigation.is-position-fixed {
    position: fixed;
	top: var(--grx--nav-push, 0px);
    left: 0;
    right: 0;
    z-index: 2;
}

.gwx-navigation__placeholder {
    position: relative;
    display: block;
    pointer-events: none;
    margin-block-start: 0px;
    width: var(--gwx-nav-left-width, var(--gwx-nav-right-width, 100%));
    height: var(--gwx-nav-top-height, var(--gwx-nav-bottom-height, 0));
}

.wp-block-groundworx-navigation.is-position-sticky {
    position: sticky;
	top: calc(var(--grx--nav-push, 0px) + var(--gwx-nav-top-height, 0px));
	z-index: 1;
    &.has-modal-open {
        top: var(--grx--nav-push, 0px);
        left: 0;
        right: 0;
        z-index: 9999;
    }
}

.wp-block-groundworx-navigation.is-position-scroll-up-reveal {
    position: fixed;
	top: var(--grx--nav-push, 0px);
    left: 0;
    right: 0;
    z-index: 2;
    &:not(.is-menu-open) {
        transition: transform 0.32s ease;
    }

	&.scroll-down:not(.is-menu-open) {
		transform: translateY(-100%);
	}

	&.scroll-up {
		transform: translateY(0);
		pointer-events: auto;
	}
}


// Foundation
.wp-block-groundworx-navigation {
    box-sizing: border-box;
    
    padding-left: var(--wp--style--root--padding-left, 1rem);
    padding-right: var(--wp--style--root--padding-right, 1rem);
    min-width: 280px;
    .gwx-navigation__wrapper {
        // nav contained
        flex-grow: 1;
        .gwx-navigation__content {
            // content
            display: grid;
            grid-template-columns: [branding-start] auto [branding-end list-start] minmax(0, 1fr) [list-end toggle-start] auto [toggle-end];
            grid-template-rows: [list-start toggle-start branding-start] minmax(var(--gwx--min-nav-size, 3rem), auto) [branding-end toggle-end list-end];
            gap: 0px;
            .gwx-navigation__menuback {
                // menu back for drilldown
                grid-area: menuback;
                display: none;
                visibility: hidden;
                pointer-events: none;
            }
            .gwx-navigation__modal {
                // wrapper for menu
                display: contents;
                list-style: none;
                > * {
                    margin-block-start: 0;
                }
                > .wp-block-groundworx-navigation-branding {
                    grid-area: branding;
                }
                > .wp-block-groundworx-navigation-menu {
                    grid-area: list;
                }
            }
            .gwx-navigation__menutrigger {
                // trigger
                display: none;
                grid-area: toggle;
                min-height: inherit;
                padding-inline-start: 10px;                
            }
        }
    }
    + .gwx-navigation__curtain {
        // curtain behind
        display: none;
        visibility: hidden;
        position: fixed;
        pointer-events: none;
        opacity: 0;
        inset: 0;
        max-width: unset;
        margin: 0;
        will-change: opacity;
	    transform: translateZ(0);
        background: rgba(232, 232, 237, .4);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        transition: opacity .12s cubic-bezier(.4,0,.6,1), visibility .12s step-end;
    }

}

// Trigger
:where(.wp-block-groundworx-navigation) {
   
    .gwx-navigation__menutrigger {
         
        .gwx-navigation-modal-item__label,
        .gwx-navigation-item__label {
            display: block;
            appearance: none;
            backface-visibility: hidden;
            background-color: transparent;
            color: inherit;
            font-family: inherit;
            font-style: inherit;
            font-weight: inherit;
            border: 0;
            padding: 0;
            margin: 0;
            cursor: pointer;
            font-size: 1em;
            line-height: 1;
            user-select: none;
            -webkit-user-select: none;
            -webkit-tap-highlight-color: transparent;
            > svg {
                fill: currentColor;
                width: 1.5em;
                height: auto;
            }
        }
    }

    .gwx-navigation__menutrigger {

        .gwx-menu-toggle {
            position:relative; 
            display: block;
            aspect-ratio: 1/1;
            font-size: 1.5em;
            width: 1em; 
            height: auto;
            .gwx-toggle {
                position: absolute;
                display: block;
                appearance: none;
                backface-visibility: hidden;
                background-color: transparent;
                color: inherit;
                font-family: inherit;
                font-style: inherit;
                font-weight: inherit;
                border: 0;
                padding: 0;
                margin: 0;
                cursor: pointer;
                font-size: 1em;
                line-height: 1;
                user-select: none;
                -webkit-user-select: none;
                -webkit-tap-highlight-color: transparent;
                > svg {
                    fill: currentColor;
                    width: 1em;
                    height: auto;
                }
            }
           
            .gwx-toggle--close,
            &.is-open .gwx-toggle--open  { 
                opacity:0; 
                pointer-events:none; 
            }
            
            .gwx-toggle--open,
            &.is-open .gwx-toggle--close { 
                opacity:1; 
                pointer-events:auto; 
            }
            
        }
        
    }
}

.wp-block-groundworx-navigation {
    position: relative;

    .gwx-toggle__bread {
        .gwx-toggle__bread-top, .gwx-toggle__bread-bottom {
            transform-origin: center;
            transition: transform 0.24s cubic-bezier(0.42, 0, 1, 1);
            backface-visibility: hidden;
            will-change: transform;
        }
        .gwx-toggle__bread-middle {
            opacity: 0;
        }
    }

    .is-open {
        .gwx-toggle__bread {
            .gwx-toggle__bread-top {
                transform: rotate(45deg) translate(0.25px, 3.5px);
            }
            .gwx-toggle__bread-bottom {
                transform: rotate(-45deg) translate(0.25px, -3.5px);
            }
        }
    }
}

@import './templates/classic/style';
@import './templates/modal/style';
@import './templates/modal-dropdown/style';
@import './templates/slide-in/style';