.wp-block-groundworx-navigation.is-template-classic {
    background-color: var(--grx--color--menu--background, var(--wp--preset--color--base, #ffffff));
    color: var(--grx--color--menu--text, var(--wp--preset--color--contrast, #343434));
}

.wp-block-groundworx-navigation.is-template-classic.has-menu {
    &:is(.is-layout-flow, .is-layout-constrained.alignfull) .wp-block-groundworx-navigation-menu {
        margin-left: calc(var(--wp--style--root--padding-left, 1rem) * -1);
        margin-right: calc(var(--wp--style--root--padding-right, 1rem) * -1);
    }

    .gwx-navigation__wrapper {
        // nav contained
        .gwx-navigation__content {
            // content
            grid-template-columns: [ list-start branding-start] auto [branding-end] minmax(0, 1fr) [toggle-start] auto [toggle-end list-end];
            grid-template-rows: [toggle-start branding-start] minmax(var(--gwx--min-nav-size, 3rem), auto) [branding-end toggle-end list-start] 1fr [list-end];
            .gwx-navigation__menuback {
                // menu back for drilldown
            }
            .gwx-navigation__modal {
                // wrapper for menu
                > .wp-block-groundworx-navigation-branding {
                    
                }
                > .wp-block-groundworx-navigation-menu {                
                    visibility: hidden;
                    pointer-events: none;
                    position: absolute;
                    padding-top: var(--wp--style--root--padding-left, 1rem);
                    padding-bottom: var(--wp--style--root--padding-right, 1rem);
                    padding-left: var(--wp--style--root--padding-left, 1rem);
                    padding-right: var(--wp--style--root--padding-right, 1rem);              
                    max-height: 70vh;
                    left: 0;
                    right: 0;
                    flex-grow: 1;
                }
            }
            .gwx-navigation__menutrigger {
                // trigger
                margin: 0;
                position: relative;
                display: flex;
                align-items: center;
            }
        }
    }
    
    &.has-menu-open {
        
        .gwx-navigation__wrapper {
            // nav contained
            padding: unset;
            .gwx-navigation__content {
                // content
                position: relative;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: auto;
                overflow: unset;
                transition-delay: 0ms;
                
                .gwx-navigation__menuback {
                    // menu back for drilldown
                }
                .gwx-navigation__modal {
                    // wrapper for menu
                    > .wp-block-groundworx-navigation-branding {
                        
                    }
                    > .wp-block-groundworx-navigation-menu {
                        visibility: visible;
                        pointer-events: auto;
                        left: unset;
                        z-index: 9999;
                        @include maxScreen(large-phone) {
                            left: 0;
                        }
                    }
                }
                .gwx-navigation__menutrigger {
                    // trigger
                }
            }
        }
        + .gwx-navigation__curtain {
            // curtain behind
        }

        &:is(.is-position-fixed, .is-position-scroll-up-reveal) {
            margin-block-start: 0;
        }
    }

    .gwx-navigation__wrapper {
        // nav contained
        .gwx-navigation__content {           
            .gwx-navigation__modal {
                // wrapper for menu                
                > .wp-block-groundworx-navigation-menu {
                    overflow-x: clip;
                    overflow-y: auto;

                    scrollbar-color: var(--grx--color--submenu--text, var(--wp--preset--color--contrast, #343434)) var(--grx--color--submenu--background, var(--wp--preset--color--base, #ffffff));
                    &::-webkit-scrollbar { 
                        width: 12px;
                    }
                    &::-webkit-scrollbar-track {
                        background: var(--grx--color--submenu--background, var(--wp--preset--color--base, #ffffff));
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: var(--grx--color--submenu--text, var(--wp--preset--color--contrast, #343434));
                        border-radius: 999px;
                        border: 3px solid var(--grx--color--submenu--background, var(--wp--preset--color--base, #ffffff));
                    }
                 }
            }
        }
    }
}