
.block-editor-inserter__panel-content.custom-quick-inserter {
    max-width: 100%;
    width:300px
}

@media (min-width: 782px) {
    .block-editor-inserter__panel-content.custom-quick-inserter {
        width:350px
    }
}