.wp-block-groundworx-navigation-menu.layout-type--accordion {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .gwx-menu__container {
        display: contents;
    }

    .gwx-menu-item__icon {
        background-color: color-mix(in srgb, currentColor 20%, transparent);
        border-radius: 9000px;
        &[aria-expanded="true"] > .gwx-menu-item__glyph {
            transform: rotate(45deg);
        }
    }

    .gwx-menu-item__container {
        display: flex;
        flex-direction: column;
    }
    :where(.gwx-menu-item__container) {
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: 0;
        padding-left: 20px;
    }

    .gwx-menu-item, .wp-block-navigation-item {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        align-items: stretch;
    }

    .wp-block-navigation-item {
        align-items: flex-start;
    }
   
    .gwx-menu-item__content[aria-expanded="true"] ~ .gwx-menu-item__subcontent {
        max-height: 600px;
        opacity: 1;
    }
    
    .gwx-menu-item__subcontent {
        z-index: 2;
        top: 100%;
        min-width: 270px;
        display: block;
        max-height: 0;
        opacity: 0;
        transition:	max-height 0.3s ease-in, opacity 0.2s ease-in;
        overflow: hidden;
        container-type: inline-size;
    }

    .gwx-menu-item__content,
    .wp-block-navigation-item__content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: .5rem 0rem;
        align-items: center;
        flex-grow: 1;
    }


    .gwx-menu__container > .gwx-menu-item > .gwx-menu-item__content:is(.is-click) {
        cursor: pointer;
        > * {
            pointer-events: none;
        }
    }

    .gwx-menu-item__icon {
        > .gwx-menu-item__glyph {
            @include gwx-icon--plus;
        }
        &[aria-expanded="true"] {
            background-color: var(--grx--color--menu--hover--link, var(--wp--preset--color--contrast, #000000));
            > .gwx-menu-item__glyph {
                background-color: var(--grx--color--menu--background, var(--wp--preset--color--base, #ffffff));
            }
        }
    }
}